@font-face {
	font-family: 'MagdaClean-Regular';
	src: url('../fonts/magdaclean-regular.ttf');
}

.full-width {
	width: 100%;
}

.container {
	width: 100%;

}

body{
	background: url("../img/tlo_op12.png") no-repeat scroll center;

}
html {
	 height: 100%;
	 background-size: contain;
 }

.header {

	font-size: 36px;
	color: #fff;
	background-color: #EC008C;
	font-family: 'MagdaCLean-Regular';
	text-align: center;

}

.login{
	position: relative;
	/*background: #2E3192;*/
	/*border-radius:10px;*/
	opacity: 0.65;
	padding: 1% 1% 1% 1%;
	width: 100%;
	text-align: center;

}

.login input[type=text]{
	width: 40%;
	height: 20%;
	border: 1px solid rgba(108, 111, 118, 0.6);
	border-radius: 2px;
	color: #2E3192;
	font-family: Cambria, Georgia, serif;
	font-size: 16px;
	padding: 4px;
    margin-left:auto;
    margin-right:auto;
	text-align: right;
	left:0;
    right:0
}

.login input[type=password]{
	width: 40%;
	height: 20%;
	border: 1px solid rgba(108, 111, 118, 0.6);
	border-radius: 2px;
	color: #2E3192;
	font-family: Cambria, Georgia, serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 2%;
    margin-left:auto;
    margin-right:auto;
	text-align: right;
	left:0;
    right:0
}


.login input[type=submit]{
    position: absolute;
	background: #fff;
	border: 2px solid rgba(108, 111, 118, 0.6);
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'MagdaClean-Regular';
	font-size: 16px;
    margin-top: 2%;
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
}

.login input[type=submit]:hover{
	opacity: 0.8;
}

.login input[type=submit]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(108, 111, 118, 0.6);
	opacity: 0.8;

}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(108, 111, 118, 0.6);
	opacity: 0.8;
}

.login input[type=submit]:focus{
	outline: none;
}


/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
	aside,
	.header {
	width: 90%;
	font-size: 7vw;
	}
	.login {
	width: 90%;
	height: 25%;
	}

	.login input[type=submit] {
	float: right;

	}


}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
	aside,
	.header {
		width: 90%;
		font-size: 7vw;
	}
	.login {
		width: 90%;
		height: 25%;
	}

	.login input[type=submit] {
		float: right;

	}
}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
	aside,
	.header {
		width: 90%;
		font-size: 7vw;
	}
	.login {
		width: 90%;
		height: 25%;
	}

	.login input[type=submit] {
		float: right;

	}

}


/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
	aside,
	.header {
		width: 90%;
		font-size: 7vw;
	}
	.login {
		width: 90%;
		height: 25%;
	}

	.login input[type=submit] {
		float: right;

	}

}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
	aside,
	.header {
		width: 90%;
		font-size: 7vw;
	}
	.login {
		width: 90%;
		height: 25%;
	}

	.login input[type=submit] {
		float: right;

	}
}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
	aside,
	.header {
		width: 90%;
		font-size: 7vw;
	}
	.login {
		width: 90%;
		height: 25%;
	}

	.login input[type=submit] {
		float: right;

	}

}


/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
	aside,
	.header {
		width: 90%;
		font-size: 7vw;
	}
	.login {
		width: 90%;
		height: 25%;
	}

	.login input[type=submit] {
		float: right;

	}
}

/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
	aside,
	.header {
		width: 90%;
		font-size: 7vw;
	}
	.login {
		width: 90%;
		height: 25%;
	}

	.login input[type=submit] {
		float: right;

	}
}

/* Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
	aside,
	.header {
		width: 90%;
		font-size: 7vw;
	}
	.login {
		width: 90%;
		height: 25%;
	}

	.login input[type=submit] {
		float: right;

	}
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {
	aside,
	.header {
		width: 90%;
		font-size: 7vw;
	}
	.login {
		width: 90%;
		height: 25%;
	}

	.login input[type=submit] {
		float: right;

	}
}

/* Portrait */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {
	aside,
	.header {
		width: 90%;
		font-size: 7vw;
	}
	.login {
		width: 90%;
		height: 25%;
	}

	.login input[type=submit] {
		float: right;

	}
}

/* Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {
	aside,
	.header {
		width: 90%;
		font-size: 7vw;
	}
	.login {
		width: 90%;
		height: 25%;
	}

	.login input[type=submit] {
		float: right;

	}
}




