<link rel="stylesheet" href="css/admin/sessionDetails_style.css">
<div id="container">
    <div class="header">
        <div class="text-center">.SESJA</div>
    </div>
    <form ng-submit="save()">
    <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Nazwa</label>
                    <input class="form-control" type="text" placeholder="Nazwa" ng-model="session.nazwa"/>
                </div>
                <div class="form-group">
                    <label>QR</label>
                    <input class="form-control" type="text" placeholder="QR" ng-model="session.qr"/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Data i Godzina Rozpoczęcia</label>
                    <input class="form-control" type="text" placeholder="Data Rozpoczęcia"
                           ng-model="session.startDate"/>
                </div>
                <div class="form-group">
                    <label>Kworum</label>
                    <input class="form-control" type="text" placeholder="Kworum" ng-model="session.kworum"/>
                </div>
            </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="return_button">
                <a href="#/admin" class="form-control btn btn-danger">Powrót</a></div>
        </div>
        <div class="col-md-4">
            <div class="save_button">
                <button class="form-control btn btn-primary" type="submit">Zapisz</button>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    </form>
</div>
